.project-card-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-decoration: none;
    background: color-mix(in srgb, var(--bg-color-alt), transparent 60%);
    border-radius: 20px;
    overflow: hidden;
    transition: 0.3s ease-out;
    min-width: 300px;
    max-width: 400px;
}

.project-card-container > img{
    filter: grayscale(100%);
    width: 100%;
    height: auto;
    aspect-ratio: 4/3;
    border-radius: 20px;
    object-fit: cover;
    z-index: 1;
    transition: 0.3s ease-out;
}

.project-card-container .project-info{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    background-color: var(--bg-color-alt);
    box-shadow: 2px 0 10px 2px var(--bg-color);
    padding: 10px;
    margin-top: -50px;
    border-radius: 0px 40px 10px 10px;
    z-index: 2;
    transition: 0.3s ease-out;
}

.project-card-container .project-info h3{
    font-size: 1.2rem;
    font-weight: 700;
}

.project-card-container .project-info p{
    font-size: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.project-card-container .bottom-project-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.project-card-container .stacks-used{
    display: flex;
    flex-direction: row;
    background-color: var(--bg-color);
    padding: 5px 10px;
    border-radius: 50px;
    gap: 10px;
}

.project-card-container .stacks-used img{
    filter: grayscale(100%);
    width: 30px;
    height: 30px;
    border-radius: 8px;
    object-fit: contain;
    transition: 0.3s ease-out;
}

.project-card-container .project-links{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.project-card-container .project-links a{
    text-decoration: none;
    color: var(--fg-primary);
    font-size: 2rem;
    transition: 0.3s ease-out;
    border-radius: 50%;
}

.project-card-container .project-links a:hover{
    transform: translateY(-1px);
    filter: drop-shadow(0 2px 4px var(--sf-dark));
}

.project-card-container:hover{
    transform: scale(1.01);
    cursor: pointer;
    transition: 0.3s ease-out;
}

.project-card-container:hover img{
    filter: grayscale(0%);
    transition: 0.3s ease-out;
}

.project-card-container:hover > img{
    transform: translateY(-8px);
    transition: 0.3s ease-out;
}

.project-card-container:hover .project-info{
    transition: 0.3s ease-out;
}