.stacks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px 0;
}

.stacks-container .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.stacks-container .header .title{
    display: flex;
    flex-direction: row;
    gap: 12px;
    font-weight: 800;
    font-size: 1.5rem;
}

.stacks-container .header .title h2:nth-child(2){
    color: var(--fg-primary);
}

.stacks-container .header p{
    text-align: center;
}

.stacks-container .header p:nth-child(3){
    font-family: var(--secondary-font);
    font-weight: 300;
    font-size: 0.8rem;
    text-align: center;
    opacity: 0.8;
}

.stacks-container .architecture-component{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    position: relative;
    margin-bottom: 120px;
}

.stacks-container .arch-list{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.stacks-container .tech-video{
    width: 40px;
    margin-left: -10px;
}

.stacks-container .all-stacks-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 60%;
    gap: 20px;
    position: relative;
}
.stacks-container > p{
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
}

.stacks-container .selected-categories{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: color-mix(in srgb, var(--bg-color-alt), transparent 80%);
    width: 60%;
    padding: 30px;
    border-radius: 30px;
    position: relative;
    box-shadow: 0 4px 6px var(--sf-dark);
}

.stacks-container .selected-categories h2{
    font-size: 1.5rem;
    color: var(--fg-primary);
}

.stacks-container .selected-categories .label{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.stacks-container .selected-categories ul{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    list-style-type: disc;
    gap: 20px;
}

.stacks-container .selected-categories .stack{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.stacks-container .selected-categories .stack p{
    font-size: 1rem;
    font-weight: 500;
}

.stacks-container .selected-categories .stack img{
    width: 30px;
    height: 30px;
}

.stacks-container .selected-categories .stack::after{
    content: '';
    position: absolute;
    margin-top: 45px;
    width: 90%;
    height: 6px;
    background-color: var(--random-color, var(--bg-color-alt));
    border-radius: 100px;
}