.arch-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 150px;
    border-radius: 30px;
    box-shadow: 0 4px 6px var(--sf-light) inset;
    background-color: var(--sf-dark);
    transform: rotate3d(1, 0, -1, 45deg) skewX(20deg);
    margin-bottom: -80px;
    transition: 0.3s ease-out;
    position: relative;
}

.arch-item .value{
    font-weight: 500;
    color: var(--btn-fg-color);
}

.arch-item:hover {
    transform: skewY(0) scale(1.05);
    transition: 0.5s ease-out;
}

.arch-item:not(:last-child):hover {
    margin-top: 50px;
}

.arch-item:hover .label{
    margin-top: 120px;
    margin-left: -60px;
}

.arch-item .label{
    position: absolute;
    font-size: 1.5rem;
    font-weight: 600;
    top: -100px;
    left: 0;
    padding: 10px;
    transition: 0.5s ease-out;
    z-index: 1;
}

.arch-item .label::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    box-shadow: 0 4px 6px var(--sf-light);
    z-index: -1;
    left: 0;
    top: 0;
    border-radius: 12px;
    transition: 0.5s ease-out;
}

.arch-item:hover ::after{
    background-color: var(--sf-dark);
    transition: 0.5s ease-out;
}

.arch-item::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    box-shadow: -10px 10px 0px var(--sf-light);
    z-index: -1;
    top: 0;
    border-radius: 30px;
    transition: 0.3s ease-out;
}

.arch-item:first-child::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    box-shadow: -10px 5px 50px 80px var(--bg-color-alt);
    z-index: -2;
    top: 0;
    border-radius: 30px;
    transition: 0.5s ease-out;
}

.arch-item:hover::before{
    box-shadow: 0px 0px 10px var(--sf-light);
    transition: 0.5s ease-out;
}

.arch-item:hover::after{
    box-shadow: none;
    transition: 0.5s ease-out;
}