.home-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding: 200px 10%;
}

.home-page-container .line{
    width: 90%;
    height: 2px;
    background: linear-gradient(to right, transparent, var(--bg-dark-alt), transparent);
}

@media (max-width: 768px) {
    .home-page-container {
        padding: 50px 0px;
    }
}