.footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    border-top: 1px solid var(--bg-color-alt);
    padding: 20px 10%;
}

.footer-container .tag{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-container .tag p{
    font-family: var(--secondary-font);
    font-size: 0.8rem;
    color: var(--fg-secondary);
}

.footer-container .rights{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
}

.footer-container .rights p{
    font-family: var(--secondary-font);
    font-size: 0.8rem;
    color: var(--fg-secondary);
}

@media (max-width: 600px){
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-container .rights{
        align-items: center;
    }
}