.about-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    padding: 25px;
    background-color: color-mix(in srgb, var(--bg-dark-alt), transparent 80%);
    gap: 20px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.about-container .img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: auto;
    border-radius: 30px;
    overflow: hidden;
}

.about-container .me{
    border-radius: 30px;
    width: 100%;
    object-fit: cover;
    transition: 0.3s ease-out;
    object-position: top;
}

.about-container .me:hover{
    transform: scale(1.01);
}

.about-container .content{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-width: 300px;
}

.about-container .about-header .title{
    display: flex;
    flex-direction: row;
    gap: 12px;
    font-size: 1.5rem;
    font-weight: 700;
}

.about-container .about-header .title h2:nth-child(2){
    color: var(--fg-primary);
}

.about-container .about-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.about-container .about-item h3{
    color: var(--fg-primary);
}

.about-container .float{
    position: absolute;
    top: 95%;
    right: 95%;
}

.about-container .float:nth-child(1){
    top: 10px;
    right: 10px;
}

@media (max-width: 768px) {
    .about-container .img-container{
        width: 100%;
    }
    .about-container .me{
        width: 100%;
        height: 400px;
    }

}