@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');
:root{
  --bg-dark: #0A0A0C;
  --bg-dark-alt: #1E1E1E;

  --fg-secondary: #D9D9D9;
  --fg-primary: #8201FE;

  --sf-dark: #49077B;
  --sf-light: #9854CB;

  --logo-dark: #6437A0;
  --logo-light: #DEACF5;

  --error-color: #F44336;

  --primary-font: 'Space Grotesk';
  --secondary-font: 'Inter';
  --tertiary-font: 'Geist Mono';
}

body{
  background-color: var(--bg-dark);
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

p, h1, h2, h3, h4, h5, h6, span, a, ul, li{
  margin: 0;
  padding: 0;
  color: var(--fg-secondary);
}

h1, h2, h3, h4, h5, h6{
  font-family: var(--primary-font);
}

p, span, a, li, label, button{
  font-family: var(--secondary-font);
}