@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');

:root{
  --bg-color: #0A0A0C;
  --bg-color-alt: #1E1E1E;

  --fg-secondary: #D9D9D9;
  --fg-primary: #8201FE;

  --sf-dark: #49077B;
  --sf-light: #9854CB;

  --logo-dark: #6437A0;
  --logo-light: #DEACF5;

  --btn-fg-color: #D9D9D9;

  --error-color: #F44336;

  --primary-font: 'Space Grotesk';
  --secondary-font: 'Inter';
  --tertiary-font: 'Geist Mono';
}

[data-theme="light"] {
  --bg-color: #FFFFFF;
  --bg-color-alt:   #dbdbdb;

  --fg-secondary: #202122;
  --fg-primary: #ab51ff;

  --sf-dark: #653985;
  --sf-light: #a37cc2;
}

body{
  background-color: var(--bg-color);
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  transition: 0.3s ease-in-out;
}

p, h1, h2, h3, h4, h5, h6, span, a, ul, li{
  margin: 0;
  padding: 0;
  color: var(--fg-secondary);
}

h1, h2, h3, h4, h5, h6{
  font-family: var(--primary-font);
}

p, span, a, li, label, button{
  font-family: var(--secondary-font);
}

html {
  scroll-behavior: smooth;
}